body{
	background-image: url('../img/gedung.jpg');
	background-size: cover;
	height: 50px;
}

.kopsurat{
	background-color: white; 
	align-content:center;
}
.kopsurat tr td img{
	padding-left: 55%;
}

.kotak{
	background-color: #dcdfe0;
    border-radius: 5px;
}

.inputan {
    width: 100%;
    height: 25px;
    padding: 1px 0;
    background-color: white;
    border-radius: 5px;
}

h2{
	text-align: center;
}

.petunjukpengisian{
	background-color: white;
	width: 800px;
	margin: 10px auto;
	padding: 1px;
}

.inputandp {
    width: 212%;
    height: 25px;
    padding: 1px 0;
    border-radius: 5px;
}

.ttd{
	text-align: right;
}

.inputanttd {
    width: 10%;
    height: 25px;
    padding: 1px 0;
    border-radius: 5px;
}

.inputanttdnama {
    width: 20%;
    height: 25px;
    padding: 1px 0;
    border-radius: 5px;
}

.tombol-back-basiccss a{
    background:#2C97DF;
    color:white;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:5px solid #2A80B9;
    padding:10px 20px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:11pt;
}